body {
  margin: 0;
  font-family: Georgia;
  font-size: 17px;
  color: black;
}
header {
  display: flex;
  position: fixed;
  align-items: center;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid black;
  background: white;
  z-index: 1;
}
.logo {
  display: flex;
  color: MediumAquamarine;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
}
.logo img {
  margin-right: 10px;
}
nav {
  padding-right: 30px;
}
nav span {
  display: inline-block;
  padding: 20px 10px;
}
nav a {color: black;}

.main {
  display: flex;
  justify-content: center;
  width: 1400px;
  margin: 0 auto 80px auto;

}
.column {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
  padding-top: 100px;
}
.column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
  flex-direction: column;
}

.main-story .story-head{
  background: url(../images/img-story-main.png);
  width: 630px;
  margin-top: 0;
  font-size: 40px;
}
.small-stories {
  display: flex;
  justify-content: space-between;
}
.small-stories .story {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.small-stories .inner-column {
  display: flex;
  flex-direction: column;
}
.story-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300px;
}
.image-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  margin-left: 10px;
  text-align: center;
}
.main-story .image-text {
  font-size: 40px;
  text-align: left;
}

.earth-story .story-image {
  background: url(../images/img-story-2.png);
}
.camera-story .story-image {
  background: url(../images/img-story-3.png);
}
.cat-story .story-image {
  background: url(../images/img-story-1.png);
}
p {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}
h3 {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}
.bite {
  display: block;
  padding: 10px 15px;
  font-size: 12px;
  border-bottom: 1px solid black;
  background-color: WhiteSmoke;
  font-family: Verdana;
  color: DimGray;
}
footer {
  display: flex;
  flex-direction: column;
  background-color: MediumAquamarine;
  font-family: Verdana;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 400px;

}
.footer-text .title {
  display: inline-block;
  padding-right: 25px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  border-right: 2px solid white;
  font-family: Times;

}
footer nav {
  display: inline-block;
  padding-left: 25px;
}
footer .copyright {
  font-size: 12px;
  font-family: Verdana;
  text-align: center;
}
